<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Optimizador</title>
  <link rel="shortcut icon" href="<%=  asset_path('favicon.ico') %>" />
  <%= yield :head %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= csrf_meta_tag %>
</head>
<body>
<section id="container" class="">

    <!-- header start -->
    <%= render 'shared/header' %>
    <!-- header end -->

    <!-- sidebar start -->
    <%= render 'shared/sidebar' %>
    <!-- sidebar end -->

    <!-- content start -->
    <%= render 'shared/container' %>
    <!-- content end -->

    <!-- footer start -->
    <%= render 'shared/footer' %>
    <!-- footer end -->

    <!-- processing start -->
    <%= render 'shared/processing' %>
    <!-- processing end -->

</section>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag params[:controller] %>
<%= yield :javascripts %>

</body>
</html>